html{
  position: relative;
  min-height: 100%;
}
body{
  background-color: rgb(238, 249, 250);
  margin: 0 0 100px;
}
.head-foot{
  background-color: navy;
  border: black;
  border-style: solid;
}
header{
  text-align: center;
  color: white;
  font-size: 20pt;
}
main{
  padding: 1.5em;
  display: flex;
}
@media screen and (max-width: 600px){
  main{
    flex-wrap: wrap;
  }
}
article{
  margin: 1em 2em;
  padding: 0 2em;
}
.wordsnstuff{
  font-size: 14pt;
}
aside{
  margin: 1em 2em;
  padding: 2em 2em;
}
.title{
  text-align: center;
  border-top: #86a1fb solid 1em;
  font-size: larger;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}